# Ignore system files
.DS_Store

# Ignore user data
Jaiminho.xcodeproj/project.xcworkspace/xcuserdata/
Jaiminho.xcodeproj/xcuserdata/
Jaiminho.xcworkspace/xcuserdata/

# Ignore Carthage build
/Carthage/*
!/Carthage/Build/
/Carthage/Build/*
!/Carthage/Build/iOS
/Carthage/Build/iOS/*.dSYM
/Carthage/Build/iOS/*.bcsymbolmap

# Ignore build
/Build
