# Ignore system files
.DS_Store

# Ignore user data
Jaiminho.xcodeproj/project.xcworkspace/xcuserdata/
Jaiminho.xcodeproj/xcuserdata/
Jaiminho.xcworkspace/xcuserdata/

# Ignore Carthage build
/Carthage

# Ignore build
/Build
